#root{
    -fx-background-image: url("./images/background.jpg");
}
#info-root{
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 0);
    -fx-opacity: .8;
}
#items-combo-box{
    -fx-font-size: 20px;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #000, #fff);
    -fx-padding: 0 0 5px 0;
    -fx-font-size: 18px;
}
.table-cell{
    -fx-font-size: 15px;

}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 10px 0 10px 5px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b901;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd01;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:selected{
    -fx-background-color: #1dbbdd;

}

#btn-add-item{
    -fx-background-color: #54DDFF;
}
/*.combo-box-popup .list-view {*/
/*    -fx-font-size : 15pt;*/
/*}*/

/*!*added this in an edit*!*/
/*.combo-box-popup .list-view .list-cell {*/
/*    -fx-padding: -1 -1 -1 -1;*/
/*}*/